<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type = "text/javascript">
function switchLight() {
	$.ajax({ 
	  type : 'POST',
          data : {},
          url  : '/php/light.php',     
          success: function ( data ) {              
          },
          error: function ( xhr ) {
            alert( "error" );
          }
        });
}
    </script>
  </head>
  <body>
    <button onclick="switchLight()">Switch the lights!</button> <!-- BUTTON CALL PHP FUNCTION -->
  </body>
</html>
